SET QT_ROOT=C:\libraries\qt\Qt5.14.1\5.14.1\msvc2017_64
SET PATH=%QT_ROOT%\bin;%PATH%
REM Uncomment the below line when using a git checkout of the source repository
SET QMAKESPEC=win32-msvc2017
SET QT_ROOT=
